extends layout

block extraHeadElements 
  link(rel="stylesheet", type="text/css", href="stylesheets/index.css")


block content
  article(class="intro")
    h2 Who am I?
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    p Optio voluptatum maxime, dolorum dolores sit voluptatibus delectus, ipsam error consequuntur reiciendis, enim laboriosam.
    p Ipsa dolorum eaque delectus officia eligendi labore neque?
