doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel="shortcut icon" type="image/png" href="/images/infinity.png")
    script(src="/javascripts/layout.js" defer)
    block extraHeadElements
  body
    nav(id="nav-bar")
      p(id="nav-toggler" onclick="toggle();") >>
      ul(id="nav-links" class="hidden")
        li 
          a(href="/") Main
        li 
          a(href="/blog") Blog 
        li 
          a(href="/projects") Projects 
    main
      block mainContent
    footer 
      p(id="copyright") &copy exismys.me