* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-color: #202020;
  color: #C8C8C8;
}

a {
  color: #A2A3DA;
}

#nav-toggler {
  background-color: #C8C8C8;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 0px 24px 24px 0;
  font-family: arial;
  font-weight: bolder;
  font-size: 1.25em;
  transition: scale 200ms;
}

#nav-toggler:hover {
  transform: scale(1.5, 1.5);
}

nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -60px);
  color: black;
}

nav ul {
  list-style-type: none;
  background-color: #C8C8C8;
  margin-top: 8px;
  box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: uppercase;
  width: 128px;
  transition: width 1000ms;
  overflow: hidden;
  border-radius: 0 32px 32px 0;
}

nav ul.hidden {
  width: 0px;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 8px;
  font-family: arial;
  color: black;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav a.active {
  background-color: #202020;
  color: white;
}

main {
  padding: 0px 20px 0px;
}

main article:last-child {
  margin-bottom: 24px;
}

footer {
  background-color: rgba(12, 12, 12, 1);
  padding: 8px;
  font-family: arial;
  font-size: 0.7em;
}

#copyright {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  nav ul {
    width: 1000px;
    padding-left: 0;
    margin: auto;
  }

  main {
    width: 1000px;
    margin: auto;
    padding: 0px 0px 0px;
  }
}