* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background-color: #202020;
  color: #C8C8C8;
}

a {
  color: #A2A3DA;
}

nav {
  background-color: rgba(12, 12, 12, 1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 20px;
}

nav ul li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #ddd;
  font-family: arial;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav a.active {
  background-color: #202020;
}

main {
  padding: 0px 20px 0px;
}

main article:last-child {
  margin-bottom: 24px;
}

footer {
  background-color: rgba(12, 12, 12, 1);
  padding: 8px;
  font-family: arial;
  font-size: 0.7em;
}

#copyright {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  nav ul {
    width: 1000px;
    padding-left: 0;
    margin: auto;
  }

  main {
    width: 1000px;
    margin: auto;
    padding: 0px 0px 0px;
  }
}