* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202020;
  color: #C8C8C8;
}

a {
  color: #A2A3DA;
}

nav {
  background-color: #555;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #ddd;
  font-family: arial;
}

nav a:hover {
  background-color: black;
  color: white;
}

main {
  padding: 0px 20px 0px;
}

main article:last-child {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  nav ul {
    width: 1000px;
    margin: auto;
  }

  main {
    width: 1000px;
    margin: auto;
    padding: 0px 0px 0px;
  }
}